In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [2]:
train = pd.read_csv('cars.csv')
test = pd.read_csv('CarsTest.csv')

In [3]:
print(train.shape)
print(test.shape)

(20, 3)
(20, 2)

In [4]:
X = train[['Mileage', 'Age(yrs)']]
y = train['Sell Price($)']

In [5]:
X_train,X_test, y_train, y_test= train_test_split(X, y, test_size=0.3)

In [6]:
poly = SVR(kernel='poly', degree=3, C=1e3)
poly.fit(X_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='poly', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [7]:
poly.score(X_test, y_test)

0.4660897253989909

In [8]:
lin = SVR(kernel='linear', gamma=0.1)
lin.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [9]:
lin.score(X_test, y_test)

0.9370081017620844

In [10]:
rbf = SVR(kernel='rbf', gamma=0.1)
rbf.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [11]:
rbf.score(X_test,y_test)

-0.5054560090348672

In [12]:
ga = GaussianNB()
ga.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [13]:
ga.score(X_test, y_test)

0.16666666666666666

In [14]:
tree = DecisionTreeRegressor()
tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [15]:
tree.score(X_test, y_test)

0.7772641850540798

In [16]:
prediction = lin.predict(X_test)
prediction

array([25578.66908112, 14150.25256291, 36649.80222025, 20935.53568831,
       17203.47491494, 15365.01605454])

In [17]:
benz = pd.DataFrame()
benz['Mileage']= test.Mileage
benz['Age(yrs)'] = test['Age(yrs)']

In [18]:
features = test.select_dtypes(include=[np.number]).interpolate()
features.head()

   Mileage  Age(yrs)
0   133514         5
1    79475         4
2    47790         2
3    78439         9
4    43298         2

In [19]:
predictions = lin.predict(features)
predictions

array([-1043.94468936, 18261.74133149, 29579.16413107, 18639.63964501,
       31184.08107415, 23358.99580994, 35322.02967706, 39018.59798375,
       25647.51031628, 32256.06653586, 28855.55778399, 21203.85550728,
       35492.21102372, 16420.19528809, 16910.25971737, 14899.4619011 ,
       26457.58619585, 29048.1404809 , 15818.53007641, 18764.80328598])

In [20]:
benz['Sell Price($)'] = predictions
benz.head()

   Mileage  Age(yrs)  Sell Price($)
0   133514         5   -1043.944689
1    79475         4   18261.741331
2    47790         2   29579.164131
3    78439         9   18639.639645
4    43298         2   31184.081074

In [21]:
benz.to_csv("CarsFinalSale.csv")